$background: #fff;
$color-main:  #0a1612;
$color-widget: #0277bd;
$color-secondary: #fff;
$color-brick: #d84315;
$color-brick-border: #9f0000;
$color-brick-dead: #9f0000;
$color-brick-dead-border: #1F0000;
$color-well-border: #202020;
$color-well-shadow:rgba(32,32,32,0.8);
$color-modal-background: #FBFCFD;