/* You can add global styles to this file, and also import other style files */
@import './colors.scss';

html {
	font-family: sans-serif;
	background-color: $background;
	color: $color-main;
}

html, body {
	min-width: 480px;
	margin: 0;
}

app-root {
	display: block;
	text-align: center;
	margin: 0 auto;
	width: 100vw;
	height: 173vw;
	position: relative;	
}

@media (min-aspect-ratio: 9/16) {
	app-root {
		 height: 96vh;
		 width: 55.68vh;
		 background-color: yellow !important;
	}
 }

 .panel {
	height: 67%;
	margin: 0;
	display: inline-block;
	box-sizing: border-box;
	background-color: white;
	vertical-align: top;
 }
 
 .panel_main {
	 width: 67%;
 }
 
 .panel_aside {
	width: 33%;
	margin-left: -5px;
 }

 .btn {
	background-color: $color-widget;
	color: $color-secondary;
	display: block;
	font-size: 1.25rem;
	padding: 0.5em;
	font-weight: bold;
}